.container1{
display: flex;
width: 100%;
max-height: 500px;
justify-content: center;
align-items: center;
flex-direction: column;

}
.text-btn{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.button{

margin: 20px;


}
